<div class="animated fadeIn">
  <h4>Productos <small>Tabla general de productos</small></h4>
  <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
    <button type="button" class="btn btn-sm btn-success" [routerLink]="['/admin/producto']"><i class="fa fa-plus"></i> Nuevo</button>
    <button type="button" class="btn btn-sm btn-primary" (click)="goDetalleProducto()" [disabled]="!selected"><i class="fa fa-edit"></i> Detalle</button>
    <button type="button" class="btn btn-sm btn-danger" (click)="eliminar()" [disabled]="!selected"><i class="fa fa-trash"></i> Eliminar</button>

    <div style="float: right;">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input #gb type="text" pInputText size="50" placeholder="Filtro...">
    </div>
  </div>
  <p-dataTable [value]="productos" selectionMode="single" [(selection)]="selected" dataKey="codigo" [rows]="12" [paginator]="true"
    [globalFilter]="gb" [resizableColumns]="true" emptyMessage="No hay datos para mostrar" [loading]="!productos">
    <!--<p-header>Lista de Procesos</p-header>-->
    <p-column field="codigo" header="Codigo" [style]="{'width':'10%'}" styleClass='text-left'></p-column>
    <p-column field="nombre" header="Nombre" [style]="{'width':'60%'}" styleClass='text-left'></p-column>
    <p-column field="unidad_medida.siglas" header="Unidad Medida" [style]="{'width':'15%'}" styleClass='text-left'></p-column>
    <p-column field="costo_unitario" header="Costo Unitario" [style]="{'width':'15%'}" styleClass='text-right'></p-column>    
  </p-dataTable>
</div>

<p-confirmDialog header="Eliminar Producto" icon="fa fa-question-circle" width="425" #cd>
    <p-footer>
        <button type="button" (click)="cd.reject()" class="btn btn-sm btn-outline-secondary"><i class="fa fa-ban"></i> Cancelar</button>
        <button type="button" (click)="cd.accept()" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Eliminar</button>
    </p-footer>
</p-confirmDialog>