<div class="animated fadeIn">
  <h4>Centros de Costo <small>Tabla general de centros de costos</small></h4>
  <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
    <button type="button" class="btn btn-sm btn-success" [routerLink]="['/admin/ccosto']"><i class="fa fa-plus"></i> Nuevo</button>
    <button type="button" class="btn btn-sm btn-primary" [disabled]="!selected"><i class="fa fa-edit"></i> Detalle</button>    
    <button type="button" class="btn btn-sm btn-danger" [disabled]="!selected"><i class="fa fa-trash"></i> Eliminar</button>    

    <div style="float: right;">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input #gb type="text" pInputText size="50" placeholder="Filtro...">
    </div>
  </div>
  <p-dataTable [value]="centros_costos" selectionMode="single" [(selection)]="selected" dataKey="codigo" [rows]="12" [paginator]="true"
    [globalFilter]="gb" #dt>    
    <p-column field="codigo" header="Codigo" [style]="{'width':'10%'}" styleClass='text-left'></p-column>
    <p-column field="nombre" header="Nombre" [style]="{'width':'30%'}" styleClass='text-left'></p-column>
    <p-column field="tipo" header="Tipo" [style]="{'width':'15%'}" styleClass='text-left'></p-column>
    <p-column field="reporta" header="Reporta Produccion" [style]="{'width':'15%'}" styleClass='text-left'></p-column>    
  </p-dataTable>
</div>