<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
  <a class="navbar-brand" href="#"></a>
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item">
      <a class="nav-link navbar-toggler" href="#" appSidebarToggler>&#9776;</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" [routerLink]="['/admin/tabla-productos']">Productos</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" [routerLink]="['/admin/carga-masiva']">Carga Masiva</a>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <!--<li class="nav-item d-md-down-none">
      <a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a>
    </li>
    <li class="nav-item d-md-down-none">
      <a class="nav-link" href="#"><i class="icon-list"></i></a>
    </li>
    <li class="nav-item d-md-down-none">
      <a class="nav-link" href="#"><i class="icon-location-pin"></i></a>
    </li>-->
    <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)" style="padding-right: 15px;">
      <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
        <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
        <span class="d-md-down-none">admin</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">        
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>        
        <a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock account</a>
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>    
  </ul>
</header>

<div class="app-body">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span></a>
        </li>
        <li class="divider"></li>
        <li class="nav-title">
          Menú Principal
        </li>
        <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
          <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="fa fa-wrench"></i> Administracion</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin/tabla-productos']"><i class="fa fa-tag"></i> Productos</a>
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin/tabla-ccostos']"><i class="fa fa-sitemap"></i> Centro de Costos</a>
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin/tabla-procesos']"><i class="fa fa-gears"></i> Procesos</a>              
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin/carga-masiva']"><i class="fa fa-upload"></i> Carga Masiva</a>
            </li>
          </ul>
        </li>
        <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
          <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="fa fa-suitcase"></i> Maestros</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">              
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/maestros/tipo-producto']"><i class="fa fa-clone"></i> Tipos de Producto</a>
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/maestros/unidades-medida']"><i class="fa fa-balance-scale"></i> Unidades de Medida</a>              
            </li>
          </ul>
        </li>
        <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
          <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="fa fa-laptop"></i> Configuración</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">              
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/config/empresa']"><i class="fa fa-building-o"></i> Empresa</a>
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/config/usuarios']"><i class="fa fa-users"></i> Usuarios</a>              
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Main content -->
  <main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <!--<app-breadcrumbs></app-breadcrumbs>-->
      <!-- Breadcrumb Menu-->
      <!--<li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <a class="btn btn-secondary" href="#"><i class="icon-speech"></i></a>
          <a class="btn btn-secondary" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>
          <a class="btn btn-secondary" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
        </div>
      </li>-->
    </ol>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.conainer-fluid -->
  </main>  
</div>

<footer class="app-footer">
  <a href="http://coreui.io">CoreUI</a> &copy; 2017 creativeLabs.
  <span class="float-right">Version 2.0.0</span>
</footer>
