<div class="animated fadeIn">
  <h4>Procesos <small>Tabla general de procesos</small></h4>
  <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
    <button type="button" class="btn btn-sm btn-success" [routerLink]="['/admin/proceso']"><i class="fa fa-plus"></i> Nuevo</button>
    <button type="button" class="btn btn-sm btn-primary" (click)="goDetalleProceso()" [disabled]="!selected"><i class="fa fa-edit"></i> Detalle</button>
    <button type="button" class="btn btn-sm btn-danger" (click)="eliminar()" [disabled]="!selected"><i class="fa fa-trash"></i> Eliminar</button>

    <div style="float: right;">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input #gb type="text" pInputText size="50" placeholder="Filtro...">
    </div>
  </div>
  <p-dataTable #dt [value]="procesos" selectionMode="single" [(selection)]="selected" dataKey="codigo" [rows]="12" [paginator]="true"
    [globalFilter]="gb" emptyMessage="No hay datos para mostrar" [loading]="!procesos" sortMode="multiple">    
    <p-column field="codigo" header="Codigo" [style]="{'width':'10%'}" styleClass='text-left' [sortable]="true"></p-column>
    <p-column field="nombre" header="Nombre" [style]="{'width':'20%'}" styleClass='text-left' [sortable]="true"></p-column>
    <p-column field="sub_tipo_producto.tipo_producto.nombre" header="Tipo Producto" [style]="{'width':'20%'}" styleClass='text-left' [sortable]="true"></p-column>
    <p-column field="sub_tipo_producto.nombre" header="Sub Tipo Producto" [style]="{'width':'20%'}" styleClass='text-left' [sortable]="true"></p-column>
    <p-column field="descripcion" header="Descripcion" [style]="{'width':'30%'}" styleClass='text-left' [sortable]="true"></p-column>    
  </p-dataTable>
</div>

<p-confirmDialog header="Eliminar Proceso" icon="fa fa-question-circle" width="425" #cd>
    <p-footer>
        <button type="button" (click)="cd.reject()" class="btn btn-sm btn-outline-secondary"><i class="fa fa-ban"></i> Cancelar</button>
        <button type="button" (click)="cd.accept()" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Eliminar</button>
    </p-footer>
</p-confirmDialog>