<div class="animated fadeIn">
  <p-messages [(value)]="msgs" [closable]="false"></p-messages>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block p-0 clearfix">
          <i class="fa fa-cogs bg-primary p-4 font-2xl mr-3 float-left"></i>
          <div class="h5 text-primary mb-0 pt-3">Nombre de la Empresa</div>
          <div class="text-muted font-weight-bold font-xs">Otros datos importantes</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="card card-accent-primary">
        <div class="card-header">
          Gestión
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-md-4">
              <div class="card card-inverse card-info card-cursor-pointer">
                <div class="card-block">
                  <div class="h1 text-muted text-right mb-4">
                    <i class="fa fa-building-o"></i>
                  </div>
                  <div class="h3 mb-0">Datos de la Empresa</div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-inverse card-success card-cursor-pointer">
                <div class="card-block">
                  <div class="h1 text-muted text-right mb-4">
                    <i class="fa fa-book"></i>
                  </div>
                  <div class="h3 mb-0">Estructura de Costos</div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-inverse card-danger card-cursor-pointer">
                <div class="card-block">
                  <div class="h1 text-muted text-right mb-4">
                    <i class="fa fa-gears"></i>
                  </div>
                  <div class="h3 mb-0">Recostear Productos</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--./col-->
    <div class="col-md-4">
      <div class="card card-accent-warning">
        <div class="card-header">
          Mes Para el Calculo de Costos
        </div>
        <div class="card-block">
          <div class="card-block p-0 clearfix">
            <i class="fa fa-calendar bg-primary p-4 font-2xl mr-3 float-left icon-mes-cierre"></i>
            <div class="text-muted text-uppercase font-weight-bold font-xs">Cierre</div>
            <div class="h5 text-primary mb-0 pt-1">Abril 2014</div>
          </div>
          <div class="mb-0 pt-3" *ngIf="cambiar_mes">
            <p-dropdown [options]="meses_anio" [(ngModel)]="selectedCity" [style]="{'width':'100%'}"></p-dropdown>

            <div class="mb-0 pt-3">
              <a href="javascript:void(0);" class="btn btn-sm btn-primary pull-left"><i class="fa fa-save"></i> Cambiar Mes</a>
              <a href="javascript:void(0);" (click)="cambiar_mes=!cambiar_mes" class="btn btn-sm btn-danger pull-right"><i class="fa fa-times"></i> Cancelar</a>
            </div>
          </div>
        </div>
        <div class="card-footer" *ngIf="!cambiar_mes" style="text-align: center">
          <a href="javascript:void(0);" (click)="cambiar_mes=!cambiar_mes">Cambiar Mes de Cierre</a>
        </div>
      </div>
    </div>
  </div>
  <!--./row-->
</div>