// Here you can add other styles
h4{
    font-size: 1.4rem;
    padding-bottom: 10px;
}

h4 small{
    font-size: 70%;
}

.ui-treetable th{
    font-weight: normal;
}

.ui-datatable{
    font-size: 12.5px !important;
}

.ui-treetable {
    font-size: 12.5px !important;
}